<app-background></app-background>
<app-nav-back [to]="'menu'"></app-nav-back>

<div id="latest" class="uk-section uk-light">

    <div class="uk-section uk-dark" style="position: relative;">
        <div class="uk-container" style="margin-top: 10vh;">

            <h1 class="brand-blue uk-text-center">Featured Campaigns</h1>

            <ul uk-tab>
                <li><a href="#">Cold world</a></li>
                <li><a href="#">500lbs</a></li>
                <li><a href="#">If we being Rëal</a></li>
                <li><a href="#">bangmychest!</a></li>
            </ul>

            <div class="uk-switcher uk-margin">
                <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-cover-container uk-height-medium">
                        <iframe
                            src="https://www.youtube-nocookie.com/embed/dlVczLUfhI4?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1"
                            width="1920" height="1080" allowfullscreen uk-responsive uk-video="automute: true"
                            uk-cover></iframe>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Cold World - Eric Reprid</h3>
                            <dl class="uk-description-list">
                                <dt>Description term</dt>
                                <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore
                                    et
                                    dolore magna aliqua.</dd>
                                <dt>Description term</dt>
                                <dd>Lorem ipsum dolor sit amet</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </div>
                <div>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur, sed
                    do eiusmod.</div>
            </div>

            <div class="uk-height-match uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-body">
                        <h4>$1.34 CPM</h4>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-body">
                        <h4>2.3M YouTube views in first week</h4>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-body">
                        <h4>+4.2k Followers in first week</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
