<app-background></app-background>
<app-nav-back [to]="'menu'"></app-nav-back>

<div id="latest" class="uk-section uk-light">

    <div class="uk-section uk-dark" style="position: relative; margin-top: 10vh">
        <div class="uk-container">

            <h1 class="brand-blue uk-text-center">Featured Campaigns</h1>

            <ul uk-tab class="uk-flex-center">
                @for (campaign of campaigns; track campaign.artist) {
                <li><a href="#">{{ campaign.song }}</a></li>
                }
            </ul>

            <div class="uk-switcher uk-margin">

                @for (campaign of campaigns; track campaign.artist) {
                <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>

                    <div class="uk-cover-container">
                        <iframe [src]="campaign.youtubeId" width="1600" height="900" allowfullscreen uk-responsive
                            uk-video="automute: true"></iframe>
                    </div>

                    <div class="campaign-content">
                        <div class="uk-card-body">
                            <!-- <h2 class="uk-card-title">{{ campaign.artist }}</h2> -->
                            <!-- <h2 class="brand-blue">{{ campaign.song }}</h2> -->
                            <!-- <span> -->
                            <!--     <a [href]="campaign.youtubeLink" uk-icon="youtube"></a> -->
                            <!--     <a [href]="campaign.spotifyTrack"><img class="spotify-icon" -->
                            <!--             [src]="'assets/icons/spotify.webp'" /></a> -->
                            <!--     <a [href]="campaign.appleLink" uk-icon="apple"></a> -->
                            <!-- </span> -->
                        </div>
                    </div>


                </div>
                }
            </div>
        </div>
    </div>
</div>
