.uk-card-body {
  a {
    margin: 5px;
  }

  padding: 30px;
}

.uk-card-media-top img {
  height: 300px;
  width: auto;
  overflow: hidden;
  object-fit: cover;
}

.spotify-icon {
  height: 20px;
  width: 20px;
  margin: 5px;
}

.uk-card-title {
  font-size: 1em;
}
