 @import 'variables';

 .text-block {
   font-size: 85%;
 }

 .uk-card-body {
   padding: 40px;

   .uk-icon {
     margin: 3px;
   }
 }

 .uk-card {

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     color: $brand-blue;
   }

   p {
     color: $brand-white;
   }

   background-color: $brand-black;
 }

 .stat {
   text-align: center;
   margin-bottom: 0;
   font-size: 2.5em;
   text-shadow: 0 0 22px $brand-blue;
 }

 .caption {
   text-align: center;
   margin-top: 0;
   margin-bottom: 35px;
 }

 .flag {
   align-self: center;
   max-height: 2.4em;
   margin-bottom: 0.3em;
   margin-top: 0.3em;
   filter: drop-shadow(0 0 22px $brand-blue);
 }

 .flag-container {
   display: flex;
   flex-direction: column;
 }

 .logos {
   padding: 0 20px;
   display: flex;
   justify-content: center;
   align-items: center;

   .logo-image {
     display: flex;
     min-height: 120px !important;
     max-height: 120px;

     img {
       object-fit: contain;
     }

     padding: 20px;
   }
 }

 .uk-grid-margin {
   margin: 0;
 }
