<app-background></app-background>
<app-nav-back [to]="'menu'"></app-nav-back>

<div id="artists" class="uk-light uk-section brand-bg-black">
    <div class="uk-container uk-text-center" style="position: relative; margin-top: 10vh;">
        <h1 class="brand-blue uk-text-center">Contact</h1>
        <h2 style="margin-top: 10vh" class="uk-text-center outline uk-text-bold">Ready to get your music heard?</h2>
        <div style="margin-top: 10vh;" class="uk-child-width-1-3@s uk-text-center" uk-grid>
            <div class="uk-card">
                <p>Get in touch with us</p>
                <a (click)="emailClick()" #emailBtn href="mailto:mail@i2idigital.com" style="align-self: center;"
                    class="uk-button uk-button-default uk-button-medium brand-blue">{{ btnText }}</a>
            </div>
            <div class="uk-card">
                <p class="brand-blue">or</p>
            </div>
            <div class="uk-card">
                <p>Reach us on our socials</p>
                <div>
                    <a class="brand-blue" href="#" uk-icon="instagram"></a>
                    <a class="brand-blue" href="#" uk-icon="tiktok"></a>
                    <a class="brand-blue" href="#" uk-icon="x"></a>
                </div>
            </div>
        </div>
    </div>
</div>
