@import 'variables';

a {
  margin: 0.5vh;
}

.scroll {
  position: relative;
  width: 100vw;
  height: 34px;
  background-color: #252525;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-color: $brand-blue;
}

.m-scroll {
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  animation: scrollText 120s infinite linear;
  margin: 0;
  font-size: 0;
  display: inline-block;

  span {
    font-size: 20px;
    display: inline-block;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
  }
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}
