<app-background></app-background>
<app-nav-back></app-nav-back>

<div class="uk-section-secondary uk-background-cover uk-preserve-color uk-inverse-light">

  <div style="position: relative; height: calc(100vh); display: flex; flex-direction: column; justify-content: center;"
    class="uk-light uk-container uk-text-center">
    <h1 style="margin: 0" class="uk-heading-medium uk-text-bold outline brand-blue">i2i digital</h1>
    <a href="/artists" class="uk-heading-small uk-text-light"><span>Artists</span></a>
    <a href="/services" class="uk-heading-small uk-text-light"><span>Services</span></a>
    <a href="/contact" class="uk-heading-small uk-text-light"><span>Contact</span></a>
  </div>

</div>
