<app-background></app-background>
<app-nav-back [to]="'menu'"></app-nav-back>

<div id="services" class="uk-section uk-light">
    <div class="uk-container" style="position: relative; margin-top: 10vh;">

        <h1 class="brand-blue uk-text-center">Services</h1>

        @if(!showContent) {
        <div class="uk-text-center">

            <p>password</p>
            <form>
                <input class="uk-input uk-form-width-medium" type="text" (keyup)="processPass($event)">
            </form>
            <hr>
            <p>if you're interested in working with us, <a class="brand-blue" routerLink="/contact">contact us</a> and
                we'll
                get back to you
                shortly</p>
        </div>
        }

        @if(showContent) {
        <div class="uk-child-width-1-1@s uk-height-match" uk-grid>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">General</h5>
                    <ul>
                        <li>Fan pages / clipping <span class="brand-blue">*</span></li>
                        <li>Spotify playlist integrations <span class="brand-blue">*</span></li>
                        <li>Consulting (Marketing & Branding, Management, Music Finance)</li>
                        <li>Publication & Blog Placements</li>
                        <li>Clipping & Editing</li>
                        <li>Instagram unbans, username claims, close friends mass-add, & more</li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">Song Campaigns</h5>
                    <ul>
                        <li>Anime Edits <span class="brand-blue">*</span></li>
                        <li>Sports Edits</li>
                        <li>Gaming Montages & Gaming Shorts Seeding</li>
                        <li>Reaction Videos</li>
                        <li>TV Shows / Movie Edits</li>
                        <li>Lyric Videos</li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">Monthly</h5>
                    <ul>
                        <li>Targeted instagram growth</li>
                        <li>Discord server management</li>
                    </ul>
                </div>
            </div>

            <small class="brand-blue popular">* Popular</small>

            <div>
                <div class="uk-card uk-text-center contact-card">
                    <p>Ready to take your music to the next level?</p>
                    <a href="mailto:i2idigitalmusic@gmail.com" style="align-self: center;"
                        class="uk-button uk-button-default uk-button-medium brand-blue">Email us</a>
                </div>
            </div>

        </div>
        }

    </div>
</div>
