<app-background></app-background>
<app-nav-back [to]="'menu'"></app-nav-back>

<div id="services" class="uk-section uk-light">
    <div class="uk-container" style="position: relative; margin-top: 10vh;">

        <h1 class="brand-blue uk-text-center">Campaigns</h1>

        <div class="uk-child-width-1-2@s" uk-grid>
            <div>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h5 class="uk-card-title">TikTok Fan Page Growth &amp; Management</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua.</p>
                    </div>
                </div>
                <br>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h5 class="uk-card-title">YouTube &amp; IG Anime Music Video Campaign</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et
                            dolore magna aliqua.</p>
                    </div>
                </div>
            </div>

            <form class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Your Email</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="you@domain.com">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Your Industry</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="form-stacked-select">
                            <option>Music</option>
                            <option>Gaming</option>
                            <option>Influencing</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Message</label>
                    <div class="uk-form-controls">
                        <textarea rows="10" class="uk-textarea"></textarea>
                    </div>
                </div>
            </form>

        </div>

        <div class="uk-child-width-1-3@s" uk-grid>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">YouTube Gaming Shorts Campaign</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">YouTube Gaming Montage Campaign</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">YouTube Vlogger Song Placement Campaign</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">Instagram Story Viewing/Liking Growth Accelerator</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">Consulting (Management/Marketing &amp; Branding/Finance)</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">YouTube Content ID Management</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>


        </div>

    </div>
</div>
