<app-background></app-background>
<app-nav-back [to]="'menu'"></app-nav-back>

<div id="services" class="uk-section uk-light">
    <div class="uk-container" style="position: relative; margin-top: 10vh;">

        <h1 class="brand-blue uk-text-center">Services</h1>

        <div class="uk-child-width-1-1@s uk-height-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">AMV Campaigns</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">Gaming Montage Campaigns</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">Fan Page Growth</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">Instagram Follower Growth Accelerator</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <h5 class="uk-card-title">Consulting</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div>
                <div class="uk-card uk-text-center contact-card">
                    <p>Ready to take your music to the next level?</p>
                    <a href="mailto:mail@i2idigital.com" style="align-self: center;"
                        class="uk-button uk-button-default uk-button-medium brand-blue">Email us</a>
                </div>

            </div>

        </div>

    </div>
</div>
