<app-background></app-background>
<app-nav-back [to]="'menu'"></app-nav-back>

<div id="artists" class="uk-light uk-section brand-bg-black">
    <div class="uk-container uk-text-center" style="position: relative; margin-top: 10vh;">
        <h1 class="brand-blue uk-text-center">Team</h1>
        <div style="margin-top: 10vh;" class="uk-child-width-1-2@m" uk-grid>

            <div class="uk-card team-card">
                <div>
                    <h4>Josh Wray</h4>
                    <p>CEO & founder</p>
                </div>
            </div>

            <div class="uk-card team-card">
                <div>
                    <h4>Evan Wray</h4>
                    <p>Marketing Manager</p>
                </div>
            </div>

            <div class="uk-card team-card">
                <div>
                    <h4>Kamran Ahamed</h4>
                    <p>Marketing Manager</p>
                </div>
            </div>

            <div class="uk-card team-card">
                <div>
                    <h4>Christien Bouc</h4>
                    <p>Marketing Manager</p>
                </div>
            </div>

            <div class="uk-card team-card">
                <div>
                    <h4>Mackenzie Craig</h4>
                    <p>Technical Lead</p>
                </div>
            </div>

            <div class="uk-card team-card">
                <div>
                    <h4>Robert Solomon</h4>
                    <p>Marketing Coordinator</p>
                </div>
            </div>

            <div class="uk-card team-card">
                <div>
                    <h4>Francesco De Stefano</h4>
                    <p>Marketing Specialist</p>
                </div>
            </div>

            <div class="uk-card team-card">
                <div>
                    <h4>Noah Ahamed</h4>
                    <p>Strategic Partner</p>
                </div>
            </div>

            <div class="uk-card team-card">
                <div>
                    <h4>Sebastian Gonzalez</h4>
                    <p>Marketing Coordinator</p>
                </div>
            </div>

            <div class="uk-card team-card">
                <div>
                    <h4>Stefon Williams</h4>
                    <p>Marketing Specialist</p>
                </div>
            </div>

            <div class="uk-card team-card">
                <div>
                    <h4>Javier Martin</h4>
                    <p>Marketing Coordinator</p>
                </div>
            </div>

            <div class="uk-card team-card">
                <div>
                    <h4>Chris Kirui</h4>
                    <p>Operations Assistant</p>
                </div>
            </div>

        </div>
    </div>
</div>
