 @import 'variables';


 .uk-heading-small {
   font-size: 1.5rem;
 }


 #artists {

   h3 {
     color: $brand-blue;
   }

   a {
     color: $brand-white
   }

   .uk-card {
     background-color: $brand-black;
   }
 }
