 @import 'variables';

 .scroll {
   position: relative;
   width: 100vw;
   height: 34px;
   background-color: #252525;
   overflow: hidden;
   z-index: 1;
   margin: 0;
   padding: 0;
   background-color: $brand-blue;
 }

 .m-scroll {
   overflow: hidden;
   height: 100%;
   white-space: nowrap;
   animation: scrollText 24s infinite linear;
   margin: 0;
   font-size: 0;
   display: inline-block;

   span {
     font-size: 20px;
     display: inline-block;
     min-width: 100vw;
     margin: 0;
     padding: 0;
     color: white;
   }
 }

 .uk-heading-small {
   font-size: 1.5rem;
 }


 @keyframes scrollText {
   from {
     transform: translateX(0%);
   }

   to {
     transform: translateX(-50%);
   }
 }

 .uk-card-body {
   padding: 20px;

   .uk-icon {
     margin: 3px;
   }
 }

 .brand-bg-black {
   background-color: $brand-black;
 }

 .brand-bg-blue {
   background-color: $brand-blue;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 a,
 li,
 dd,
 dt,
 div,
 span {
   font-family: AkiraExpanded;
 }
