<app-background></app-background>

<div class="uk-section-secondary uk-background-cover uk-preserve-color uk-inverse-light">

  <div style="position: relative; height: calc(100vh); display: flex; flex-direction: column; justify-content: center;"
    class="uk-light uk-container uk-text-center">
    <img class="uk-align-center" style="height: 20vh" src="assets/logo.gif" />
    <h1 style="margin: 0" class="uk-heading-medium uk-text-bold outline">i2i digital</h1>
    <p class="uk-heading-small uk-text-light" style="margin:0; margin-bottom: 20px"><span>helping break
        your</span>&nbsp;&nbsp;<span class="typed-element">favorite artists</span>
    </p>

    <a href="menu" style="margin-bottom: 200px; align-self: center;"
      class="uk-button uk-button-default uk-button-medium brand-blue">ENTER</a>
  </div>

  <div class="scroll">
    <div class="m-scroll">
      <span style="rbackground: cyan;">{{ newsMessage }}</span>
      <span style="rbackground: magenta;">{{ newsMessage }}</span>
      <span style="rbackground: yellow;">{{ newsMessage }}</span>
      <span style="rbackground: gray;">{{ newsMessage }}</span>
    </div>
  </div>


  <div id="latest" class="uk-section-muted uk-section uk-light brand-bg-black">
    <div class="uk-container">

      <h1 class="brand-blue uk-text-center" style="margin-top: 100px">Featured Projects</h1>

      <ul uk-tab>
        <li><a href="#">Eric Reprid</a></li>
        <li><a href="#">Khantrast</a></li>
        <li><a href="#">YEAT</a></li>
      </ul>

      <div class="uk-switcher uk-margin">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
          <div class="uk-cover-container uk-height-medium">
            <iframe
              src="https://www.youtube-nocookie.com/embed/dlVczLUfhI4?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1"
              width="1920" height="1080" allowfullscreen uk-responsive uk-video="automute: true" uk-cover></iframe>
          </div>
          <div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">Cold World - Eric Reprid</h3>
              <dl class="uk-description-list">
                <dt>Description term</dt>
                <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua.</dd>
                <dt>Description term</dt>
                <dd>Lorem ipsum dolor sit amet</dd>
              </dl>
            </div>
          </div>
        </div>
        <div>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed
          do eiusmod.</div>
      </div>


      <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
          <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
      </div>
    </div>
  </div>


  <div id="collaborators" class="uk-section uk-light brand-bg-black">
    <div class="uk-container">
      <div style="display: flex; align-items: center;" class="uk-height-match uk-child-width-expand@s" uk-grid>
        <div uk-tooltip="Republic Records">
          <img src="https://www.republicrecords.com/files/2022/11/republic-records.png" />
        </div>
        <div uk-tooltip="88rising">
          <img src="https://hitcfestival.com/wp-content/uploads/2024/05/1200px-88rising_logo.svg.png" />
        </div>
        <div uk-tooltip="Transparent Arts">
          <img src="https://transparentarts.com/wp-content/uploads/2018/06/TA_logo2_smwhite2.png" />
        </div>
        <div uk-tooltip="RedBull Records">
          <img src="https://upload.wikimedia.org/wikipedia/en/9/98/RedBullRecordsLogo_large_knockout.png" />
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
      </div>
    </div>
  </div>


  <div id="services" class="uk-section uk-light brand-bg-black">
    <div class="uk-container">
      <h3>Services</h3>
      <hr>
      <div class="uk-child-width-1-2@s" uk-grid>
        <div>
          <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
              <h5 class="uk-card-title">TikTok Fan Page Growth &amp; Management</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            </div>
          </div>
          <br>
          <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
              <h5 class="uk-card-title">YouTube &amp; IG Anime Music Video Campaign</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore magna aliqua.</p>
            </div>
          </div>
        </div>

        <form class="uk-form-stacked">
          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Your Email</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="you@domain.com">
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">Your Industry</label>
            <div class="uk-form-controls">
              <select class="uk-select" id="form-stacked-select">
                <option>Music</option>
                <option>Gaming</option>
                <option>Influencing</option>
                <option>Other</option>
              </select>
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Message</label>
            <div class="uk-form-controls">
              <textarea rows="10" class="uk-textarea"></textarea>
            </div>
          </div>
        </form>

      </div>

      <div class="uk-child-width-1-3@s" uk-grid>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body">
            <h5 class="uk-card-title">YouTube Gaming Shorts Campaign</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body">
            <h5 class="uk-card-title">YouTube Gaming Montage Campaign</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body">
            <h5 class="uk-card-title">YouTube Vlogger Song Placement Campaign</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body">
            <h5 class="uk-card-title">Instagram Story Viewing/Liking Growth Accelerator</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body">
            <h5 class="uk-card-title">Consulting (Management/Marketing &amp; Branding/Finance)</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body">
            <h5 class="uk-card-title">YouTube Content ID Management</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>


      </div>

    </div>
  </div>

  <div id="services" class="uk-section uk-light brand-bg-black">
    <div class="uk-container">
      <h1>About Us</h1>
      <p>i2i digital is a Vancouver-based music marketing company offering transparent and authentic solutions to help
        you find your ideal fan base. Highly-specific and innovative campaign services, we are able to deliver
        exceptional results with highly competitive cost analyses. With over a decade of combined experience working
        with artists, creators, and brands, we know what it takes to propel the next breakout artist.</p>
      <p>i2i digital delivers innovation, creativity, and marketing prowess to some of the most influential and emerging
        artists in the industry.</p>
    </div>
  </div>

</div>

<div class="uk-section brand-bg-blue">
  <div class="uk-container uk-light">
    <div class="uk-child-width-expand" uk-grid>
      <div>
        <ul class="uk-list">
          <li><a href="#">Instagram</a></li>
          <li><a href="#">TikTok</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
        <hr class="uk-divider-small">
        <p class="uk-text-muted">Based in Vancouver Canada<br>In collaboration with
          <a href="https://tehp.xyz">tehp.xyz</a>
        </p>
        <hr class="uk-divider-small">
        <p style="font-size: 80%" class="uk-text-muted">Copyright 2024 &copy; I2I DIGITAL</p>
      </div>
      <div class="uk-text-right">
        <img width="200px" src="assets/logo_small.gif" />
        <!-- <h1 class="uk-heading-xlarge uk-text-bolder">i2i</h1> -->
      </div>
    </div>

  </div>
</div>

<div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true; mode: slide">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-default">
      <li class="uk-active"><a href="#">Active</a></li>
      <li class="uk-parent">
        <a href="#">Parent</a>
        <ul class="uk-nav-sub">
          <li><a href="#">Sub item</a></li>
          <li><a href="#">Sub item</a></li>
        </ul>
      </li>
      <li class="uk-nav-header">Header</li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
    </ul>
  </div>
</div>
