<app-background></app-background>

<div class="uk-section-secondary uk-background-cover uk-preserve-color uk-inverse-light">

  <div style="position: relative; height: calc(100vh); display: flex; flex-direction: column; justify-content: center;"
    class="uk-light uk-container uk-text-center">
    <img class="uk-align-center" style="height: 20vh" src="assets/logo.gif" />
    <h1 style="margin: 0" class="uk-heading-medium uk-text-bold outline">i2i digital</h1>
    <p class="uk-heading-small uk-text-light" style="margin:0; margin-bottom: 20px"><span>helping break
        your</span>&nbsp;&nbsp;<span class="typed-element">favorite artists</span>
    </p>

    <a routerLink="/menu" style="margin-bottom: 200px; align-self: center;"
      class="uk-button uk-button-default uk-button-medium brand-blue">ENTER</a>
  </div>

</div>
